
.navbar {
    background-color: rgb(18,140,126);
    color:white
}


.navbar-brand {
    font-weight: bolder;
    font-size: 30px;
    line-height: 120%;
}

.nav2 {
    display: none
}

.navbar a {
    color: white;
    
}
a :hover {
    color: white;
  }

  a {
      text-decoration: none;
  }
 
.row1{
      padding:50px;
  }
.btn-green {
    background-color: rgb(18,140,126);
    color: white;
    border-radius: 40px;
    padding: 16px 32px;
    text-align: center;
    line-height: 120%;
    font-size: 16px;
}

#col1 {
    background-color: rgb(231,240,228);
 
}
#col2 {
   background-color:  rgb(252,242,198); 
}

#gri {
    background-color: rgb(39,52,67);

}

.nav-m {
    margin-bottom: 50px;
}
.list-group-item-primary {
    text-decoration: none;
    color: white;
    background-color:rgb(39,52,67);
    line-height: 26px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.list-group-item-primary:hover {
    text-decoration: underline;
    background-color: rgb(39,52,67);
    color:white;
    
}

.img-mobile {
    width: 190px;
    margin-bottom: 15px;
    max-height: 350px
}
h3 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.poza-buton {
   
        flex-direction: column;
    }
.mac {
    max-width: 400px;
}

h6 {
    margin-top: 40px;
    margin-bottom: 40px;
    color:white;
}

.div{
    display: none;
}

.nav-bottom {
    background-color: black;
    color: white;
}

@media (max-width: 1199.98px)  {
    .telefon {
      display: flex;
      flex-direction:column;
    }

    .navbar-brand{
        display: none;
    }
    .nav {
        display: none;
    }
    
    .nav2{
        display: block;
    }

    .div {
        display: block;
    }
    
    .nav4 {
        display:flex;
        flex-direction: column;
    }

    .nav-list {
        text-align: right;
    }
  }